#reviews {
    @media all and (max-width: 500px) {
        .reviews {
            grid-template-columns: none !important;

        }

        .line {
            width: 100% !important;
        }

    }

    @media all and (max-width: 420px) {
        .review-item p {
            font-size: 10px;
            line-height: 16px;
        }
    }
}