#reviews {
    @media all and (max-width: 500px) {
        .reviews {
            grid-template-columns: none !important;

            .nav-left,
            .nav-right {
                position: absolute !important;
                // bottom: -3px !important;
            }

            .nav-right {
                right: $container-padding !important;
            }
        }

        .line {
            width: 50% !important;
        }

    }

    @media all and (max-width: 420px) {
        .review-item p {
            font-size: 10px;
            line-height: 16px;
        }
    }
}