#reviews {
    @media all and (max-width: 500px) {
        .reviews {

            .nav-left,
            .nav-right {
                height: 100%;
                position: relative;
                svg {
                    position: absolute !important;
                    bottom: -46px !important;
                  
                }
            }

        }

        .line {
            width: 50% !important;
        }

    }

    @media all and (max-width: 420px) {
        .review-item p {
            font-size: 10px;
            line-height: 16px;
        }
    }
}