.categories {
    li {
        &.active {

            h3 {
                text-decoration: line-through;
            }

            .dot {
                background-color: $black;
            }
        }

        .dot {
            background-color: $blue;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 10px;
            transition: $transition-1 0.5s background-color;
        }

    }
}