#achievements {
    .bg {
        position: relative;
        overflow: hidden;
        height: 438px;
        width: 100%;

        &>span:nth-child(1) {
            position: absolute;
            bottom: -15%;
            left: 0;


        }
    }

    .numbers {
        margin-top: 33px;

        li {
            cursor: initial !important;
        }

        span {
            font-weight: 700;
        }

        span,
        h2 {
            color: $black;
        }
    }


}