.page-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 505;

    .strips {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;

        >div {
            transform: translateZ(0);
            height: 100%;
            margin-left: -1px;
            flex: 1 0 0;
            background-color: $black;
            clip-path: inset(0 0 0 0);
        }
    }
}