#stage-of-works {
    @media all and (max-width:600px) and (max-height:600px) {
        .circle {
            width: calc(20% + 60px) !important;
            height: initial !important;
        }

        .column {
            height: initial !important;

            .line {
                height: 40px;
            }
        }

        br {
            display: none;
        }
    }

    // width: -webkit-fill-available;
    // height: min-content;

    @media all and (max-width: 420px) and (min-height: 1920px) {
        .circle {
            width: -webkit-fill-available !important;
            height: min-content !important;
        }



        .column {
 
            .line {
                height: 100% !important;
            }
        }
    }
}