#stage-of-works {
    padding-top: 0 !important;
    min-height: 100vh !important;
    height: 100%;

    // br {
    //     display: none;
    // }

    h5.text-center {
        font-size: 2vw;
        line-height: 2vw;
    }

    .row,
    .column {
        width: 100% !important;
    }

    .row {
        padding: 0 $container-padding;
        min-height: 100vh;
    }

    .column {
        padding: 72.44px $container-padding;
        height: 100vh;
    }

    .pin-spacer .row .circle {
        clip-path: inset(0 0 0 0);
    }

    .pin-spacer .row .circle {
        clip-path: inset(0 0 100% 0);
    }

    .circle {
        border-radius: 50%;
        outline: 1px solid $black;
        outline-offset: -2px;
        aspect-ratio: 1/1;
        width: calc(100%/5 + 60px);
    }

    .column .circle {
        width: auto;
        height: min(calc(100%/5 + 60px))

    }

    .row .line {
        height: 1px;
        background-color: $black;
        width: calc(100%/5 - 60px);
        // width: 100%;
        transform-origin: left center;
    }

    .column .line {
        background-color: $black;
        width: 1px;
        height: calc(100%/5 - 60px);
        transform-origin: center top;

    }

    p {
        margin-top: 30px;
    }

}

@import url('./media.scss');