#portfolio {
    padding-top: 0 !important;

    .line:not(.portfolio-card-description .line) {
        background-color: $black;
        height: 1px;
        min-width: 39%;
        pointer-events: initial;
    }

    li {
        &.active {

            h5 {
                text-decoration: line-through;
            }

            h5 {
                text-decoration-thickness: 2px;
            }

        }

    }


    .categories {
        margin: 50px 0 30px;

    }

    li.portfolio-card {
        min-height: clamp(18.5625rem, 16rem + 12.8125vw, 31.375rem);
        height: 100%;
        position: relative;
        cursor: initial;

        .portfolio-card-description {

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            z-index: 2;
            width: 100%;
            height: 80%;
            padding: 0 8%;

            .line {
                clip-path: inset(0 0 5px);
                height: 100%;
                min-height: 50%;
                width: 1px;
                background-color: $white;
            }

            h3 {
                margin-bottom: 20px;
            }

            .gap-35 {
                width: 100%;
            }
        }


        >span:nth-child(1) {
            position: absolute;

            &::after {
                backdrop-filter: blur(10px);
                @include overlay($overlay, 50%);
            }
        }
    }
}

@import url('./media.scss')