.slider-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
 
    ul {
        position: absolute;
        will-change: transform;
        top: 0;
        left: 0;
        li {
            cursor: grab;
        }

        &.is-grabbing {
            li {
                cursor: grabbing;
            }
        }
    }
}