#home-scroll {
    .projects {

        .text-wrapper {
            margin: 0 0 80px 0;

            p {
                max-width: 753px;
                margin-bottom: 27px;
            }
        }
    }
}