#about-heading {
    margin-top: 72.44px;
    background-color: $white;
    background: url('../../../assets/bg-2.jpg') center no-repeat;
    background-size: cover;
padding: 0 !important;

    &::after {
        @include overlay($black, 50%);
    }

    path {
        fill: $white;
    }

    h1 {
        position: relative;
        z-index: 44;
    }

    .row {
        min-height: 375px;
    }
}