#about-heading {
    margin-top: 72.44px;
    padding: 0 !important;

    path {
        fill: $white;
    }

    h1 {
        position: relative;
        z-index: 44;
    }

    .row {
        min-height: 375px;
    }
}