#home-scroll {
    .investment-projects {
        width: calc(100vw + (100vw / 3));
        @include responsive-width(100vw);
         .section-block {

            &:nth-child(1),
            &:nth-child(3) {
                width: calc(100% / 2 - (482px / 2));
            }

            &:nth-child(3) {
                @include full-size-on-mobile('small');

                >div:nth-child(1),
                >div:nth-child(2) {
                    @include full-size-on-mobile('small');
                    height: 50%;
                }
            }

            &:nth-child(1) {
                @include full-size-on-mobile('large');
            }

            &:nth-child(2) {
                width: 482px;
                @include full-size-on-mobile();

                >div {
                    @include full-size-on-mobile('small');
                    height: calc((100% / 3));

                    &:nth-child(2) {
                        background-color: $gray;
                    }
                }
            }
        }
    }
}