#home-scroll {
    height: 100vh !important;
    width: calc(1762px + 3271px + (100vw * 3)) !important;
    will-change: transform;

    @media all and (max-width: 1024px),
    (max-height: 656px) {
        height: unset !important;
        width: initial !important;

        .row:not(ul, button .row, #home-scroll > .row:nth-child(1) > .container .row) {
            flex-direction: column !important;
        }

        div[class*="placeholder"]:not(:has(.description), li .placeholder-1),
        div.column.center-y {
            height: clamp(15.25rem, 6.005rem + 39.4453vw, 31.25rem) !important;
        }

        div[class*="placeholder"]:has(.description) {
            height: clamp(30.25rem, 22.4495rem + 33.282vw, 43.75rem) !important;
            ;
        }

        &>.row:nth-child(1) {

            &:nth-child(1) {

                background-size: 1928px 1045px !important;


            }

        }

        section.services-list {

            .text-wrapper {
                margin: 37px 0 50px 25px;
                gap: 15px;

                h1 {
                    margin-left: -15px;
                }

            }

            ul.data {
                flex-direction: column;
                gap: 30px;
                align-items: center;
            }
        }

    }

    div[class*="placeholder"] {

        span {
            vertical-align: bottom;
        }
    }

    @include responsive-width(600vw);

    .container {
        max-width: unset;
        position: relative;

        >.row:not(ul) {
            margin-bottom: 80px;
        }

        ul:not(.socials) {
            margin-bottom: 70px;

            li {
                cursor: initial !important;
            }
        }

        .play {
            @include center-absolute(120);
            pointer-events: all;
            cursor: pointer;
            border-radius: 50%;
            aspect-ratio: 1/1;
            width: clamp(5.5rem, 5.0222rem + 2.3891vw, 7.25rem);
            border: 1px solid rgb(255, 2555, 255, 50%);

        }



    }



    &>.row:nth-child(1) {
        height: 100%;
        will-change: transform;

        .description {
            @include center-absolute(6);
            min-width: 260px;

            h1 {
                white-space: nowrap;
            }

            p {
                margin: 13px 0 32px;
                max-width: 600px;
            }
        }

        &:nth-child(1) {
            background-image: url("/src/assets/lines.svg");
            background-size: contain;
            background-position: -2px 0;
            background-repeat: no-repeat;

            @media all and (max-height: 1370px) and (max-width: 1334px), (max-width: 1024px) {
                >.container:nth-child(1) {

                    >.row:nth-child(1) {
                        justify-content: space-between;
                        gap: 35px;
                    }

                    .play {
                        position: static;
                        transform: none;
                    }

                }
            }

            @media all and (max-height: 840px),
            (max-width: 1024px) {
                >.container:nth-child(1) {

                    >.row:nth-child(1) {
                        justify-content: space-between;
                        gap: 35px;
                        margin-left: 25px;
                        margin-top: 47px;

                        +ul {
                            gap: 40px;
                        }
                    }

                    .play {
                        position: static;
                        transform: none;
                    }

                    .text-wrapper {
                        flex-direction: column;
                        align-items: baseline;
                        gap: 15px;
                        width: calc(100% - clamp(5.5rem, 5.0222rem + 2.3891vw, 7.25rem) - 35px);

                        h1 {
                            transform: translateX(-25px);
                        }

                        p {
                            max-width:458px;
                        }

                        br:not(:nth-child(1)) {
                            display: none;
                        }
                    }

                }
            }
        }

        &>div {

            &:not(:nth-child(2), :nth-child(3)) {
                width: 100vw;
            }

            &:not(:nth-child(1)) {

                margin-top: 73px;
            }

            @include full-width-on-mobile();

            &:nth-child(2) {

                width: 1762px;

                @include full-width-on-mobile();

                @include responsive-width(100vw);

                &>div {
                    &:nth-child(1) {
                        div {
                            height: calc(100% / 3);
                            width: 482px;

                            @include full-width-on-mobile();

                            &:nth-child(1) {

                                background-color: $blue;
                            }

                            &:nth-child(2) {
                                background-color: $gray;

                            }
                        }
                    }

                    &:nth-child(2) {
                        overflow: hidden;
                        position: relative;
                        // width: -webkit-fill-available;
                        width: 771px;

                        @include full-width-on-mobile();

                        @include responsive-width(-webkit-fill-available);

                        &::after {
                            @include overlay($overlay, 50%)
                        }
                    }

                    &:nth-child(3) {
                        overflow: hidden;
                        position: relative;
                        width: 509px;

                        @include full-width-on-mobile();

                        &>div {

                            height: 50%;
                        }

                        &::after {
                            @include overlay($overlay, 50%)
                        }
                    }

                }


            }

            &:nth-child(3) {

                width: 3271px;

                @include full-width-on-mobile();

                @include responsive-width(200vw);

                &>div {
                    &:nth-child(1) {
                        div {
                            height: 50%;
                            width: 765px;

                            @include full-width-on-mobile();

                            &:nth-child(1) {
                                overflow: hidden;
                                position: relative;

                                &::after {
                                    @include overlay($overlay, 50%)
                                }
                            }

                            &:nth-child(2) {
                                background-color: $blue;
                            }
                        }


                    }

                    &:nth-child(2) {
                        overflow: hidden;
                        position: relative;

                        width: 771px;

                        @include full-width-on-mobile();


                        @include responsive-width(-webkit-fill-available);

                        &::after {
                            @include overlay($overlay, 50%)
                        }
                    }

                    &:nth-child(3) {

                        &>div {
                            width: 482px;
                            height: calc(100% / 3);

                            @include full-width-on-mobile();

                            &:nth-child(1) {
                                background-color: $gray;
                            }

                            &:nth-child(2),
                            &:nth-child(3) {
                                overflow: hidden;
                                position: relative;

                                &::after {
                                    @include overlay($overlay, 50%)
                                }
                            }
                        }

                    }

                    &:nth-child(4) {
                        overflow: hidden;
                        position: relative;
                        width: 771px;
                        @include full-width-on-mobile();


                        @include responsive-width(-webkit-fill-available);

                        &::after {
                            @include overlay($overlay, 50%)
                        }
                    }

                    &:nth-child(5) {
                        >div:nth-child(1) {
                            position: relative;
                            width: 482px;
                            height: calc(100%/3 * 2);

                            @include full-width-on-mobile();

                            &::after {
                                @include overlay($overlay, 50%)
                            }
                        }

                        >div:nth-child(2) {
                            height: calc(100%/3);
                            background-color: $blue;
                        }

                    }



                }
            }


        }



        section {
            height: 100%;
            width: 100vw;
            margin-top: 73px;


            @include full-width-on-mobile();

            h1 {
                white-space: nowrap;
            }

            p {
                max-width: 753px;
                margin-bottom: 27px;
            }

            li {
                max-width: 344px;
                width: -webkit-fill-available;
                $count: 3;

                .placeholder-1 {
                    width: 100%;
                    height: 127px;
                }

                @for $item from 1 through $count {
                    &:nth-child(#{$item}) .placeholder-1 {
                        transition: $transition-1 0.7s clip-path #{($item * 0.3)}s;
                    }
                }

                span.up-case {
                    line-height: 24px;
                    font-size: 12px;
                    display: block;
                    margin: 19px 0 11px;
                }

                h5 {
                    margin-bottom: 5px;
                }


            }
        }
    }
}

.scroll-indicator {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 8px;
    width: 100%;
    background-color: $brown;

    div {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $blue;
        height: 100%;
    }
}