@import './About/about.scss';
@import './Architecture/architecture.scss';
@import './Construction/construction.scss';
@import './Investment/investment.scss';
@import './Projects/projects.scss';
@import './ScrollIndicator/scrollIndicator.scss';
@import './Services/services.scss';
@import './Team/team.scss';

#home-scroll {
    height: 100vh !important;
    width: calc(1762px + 3271px + 1822px + (100vw * 5) + ( (100vw / 3) * 2 )) !important;
    will-change: transform;

    h1 {
        white-space: nowrap;
    }

    &>.row:nth-child(1) {
        background-image: url("/src/assets/lines.svg");
        background-size: contain;
        background-position: -2px 0;
        background-repeat: no-repeat;
        will-change: transform;
        height: 100%;
    }

    @include responsive-width(800vw);

    div[class*="placeholder"]:not(.projects-list div, .architecture div:nth-child(3)) {
        overflow: hidden;

        span {
            vertical-align: bottom;
            position: relative;

            &::after {
                @include overlay($overlay, 50%)
            }
        }
    }

    div:has(.description) {
        position: relative;

        .description {
            @include center-absolute(6);
            min-width: 260px;

            p {
                margin: 13px 0 32px;
                max-width: 600px;
            }
        }

    }

    section {

        &:not(:nth-child(1)) {
            margin-top: 73px;
        }

        &:not(.team, .about) {
            height: calc(100% - 73px - 8px);
        }

        width: 100vw;


        @include full-size-on-mobile();
    }
}

@import './media.scss';