#home-scroll {
    height: 100vh !important;
    width: calc(1762px + 3271px + (100vw * 3)) !important;
    will-change: transform;

    @media all and (max-width: 1024px) {
        height: unset !important;
        width: initial !important;

        .row:not(ul) {
            flex-direction: column !important;
        }

        div[class*="placeholder"] {
            height: clamp(15.3125rem, 2.3864rem + 64.6307vw, 43.75rem) !important;
            width: initial !important;
            min-width: initial !important;
            min-height: initial !important;
        }

    }

    @media all and (min-width: 1600px) and (min-height: 3000px) {
        width: 600vw !important;
    }

    .container {
        max-width: unset;

        >.row:not(ul) {
            margin-bottom: 80px;
        }

        ul {
            margin-bottom: 70px;

            li {
                cursor: initial !important;
            }
        }


    }


    &>.row:nth-child(1) {
        height: 100%;
        will-change: transform;

        &:nth-child(1) {
            background-image: url("/src/assets/lines.svg");
            background-size: contain;
            background-position: -2px 0;
            background-repeat: no-repeat;

        }

        .description {
            @include center-absolute(6);

            h1 {
                white-space: nowrap;
            }

            p {
                margin: 13px 0 32px;
                max-width: 600px;
            }
        }

        &>div {

            width: 100vw;

            &:not(:nth-child(1)) {

                margin-top: 73px;
                height: calc(100% - 73px) !important;
            }

            @include full-width-on-mobile();




            &:nth-child(2) {

                width: 1762px;

                @include full-width-on-mobile();

                @media all and (min-width: 1600px) and (min-height: 3000px) {
                    width: 100vw !important;
                }

                &>div {
                    &:nth-child(1) {
                        div {
                            height: calc(100% / 3);
                            min-width: 482px;

                            @include full-width-on-mobile();

                            &:nth-child(1) {

                                background-color: $blue;
                            }

                            &:nth-child(2) {
                                background-color: $gray;

                            }
                        }
                    }

                    &:nth-child(2) {
                        overflow: hidden;
                        position: relative;
                        // width: -webkit-fill-available;
                        width: 771px;

                        @include full-width-on-mobile();

                        @media all and (min-width: 1600px) and (min-height: 3000px) {
                            width: -webkit-fill-available !important;
                        }

                        &::after {
                            @include overlay($overlay, 50%)
                        }
                    }

                    &:nth-child(3) {
                        overflow: hidden;
                        position: relative;
                        min-width: 509px;

                        @include full-width-on-mobile();

                        &>div {

                            height: 50%;
                        }

                        &::after {
                            @include overlay($overlay, 50%)
                        }
                    }

                }


            }

            &:nth-child(3) {

                width: 3271px;

                @include full-width-on-mobile();

                @media all and (min-width: 1600px) and (min-height: 3000px) {
                    width: 200vw !important;
                }

                &>div {
                    &:nth-child(1) {
                        div {
                            height: 50%;
                            min-width: 765px;

                            @include full-width-on-mobile();

                            &:nth-child(1) {
                                overflow: hidden;
                                position: relative;

                                &::after {
                                    @include overlay($overlay, 50%)
                                }
                            }

                            &:nth-child(2) {
                                background-color: $blue;
                            }
                        }


                    }

                    &:nth-child(2) {
                        overflow: hidden;
                        position: relative;

                        width: 771px;

                        @include full-width-on-mobile();

                        @media all and (min-width: 1600px) and (min-height: 3000px) {
                            width: -webkit-fill-available !important;
                        }

                        &::after {
                            @include overlay($overlay, 50%)
                        }
                    }

                    &:nth-child(3) {

                        &>div {
                            min-width: 482px;
                            height: calc(100% / 3);

                            @include full-width-on-mobile();

                            &:nth-child(1) {
                                background-color: $gray;
                            }

                            &:nth-child(2),
                            &:nth-child(3) {
                                overflow: hidden;
                                position: relative;

                                &::after {
                                    @include overlay($overlay, 50%)
                                }
                            }
                        }

                    }

                    &:nth-child(4) {
                        overflow: hidden;
                        position: relative;
                        width: 771px;
                        // width: -webkit-fill-available;
                        @include full-width-on-mobile();

                        @media all and (min-width: 1600px) and (min-height: 3000px) {
                            width: -webkit-fill-available !important;
                        }

                        &::after {
                            @include overlay($overlay, 50%)
                        }
                    }

                    &:nth-child(5) {
                        >div:nth-child(1) {
                            position: relative;
                            min-width: 482px;
                            height: calc(100%/3 * 2);

                            @include full-width-on-mobile();

                            &::after {
                                @include overlay($overlay, 50%)
                            }
                        }

                        >div:nth-child(2) {
                            height: calc(100%/3);
                            background-color: $blue;
                        }

                    }



                }
            }


        }



        section {
            height: 100%;
            width: 100vw;
            margin-top: 73px;

            height: calc(100% - 73px) !important;

            h1 {
                white-space: nowrap;
            }

            p {
                max-width: 753px;
                margin-bottom: 27px;
            }

            li {
                max-width: 344px;
                width: -webkit-fill-available;
                $count: 3;

                .placeholder-1 {
                    width: 100%;
                    height: 127px;
                }

                @for $item from 1 through $count {
                    &:nth-child(#{$item}) .placeholder-1 {
                        transition: $transition-1 0.7s clip-path #{($item * 0.3)}s;
                    }
                }

                span.up-case {
                    line-height: 24px;
                    font-size: 12px;
                    display: block;
                    margin: 19px 0 11px;
                }

                h5 {
                    margin-bottom: 5px;
                }


            }
        }
    }
}