#home-scroll {

    @media all and (max-width: 1024px),
    (max-height: 694px) {
        height: unset !important;
        width: initial !important;

        .row:not(ul, button .row, #home-scroll > .row:nth-child(1) > .container .row) {
            flex-direction: column !important;
        }

        div[class*="placeholder"]:not(:has(.description), li .placeholder-1),
        div.column.center-y {
            height: clamp(15.25rem, 6.005rem + 39.4453vw, 31.25rem) !important;
        }

        div[class*="placeholder"]:has(.description) {
            height: clamp(30.25rem, 22.4495rem + 33.282vw, 43.75rem) !important;
            ;
        }

        &>.row:nth-child(1) {

            &:nth-child(1) {

                background-size: 1928px 1045px !important;

            }

        }

        section.projects-list {

            .text-wrapper {
                margin: 37px 0 50px 25px;
                gap: 15px;

                h1 {
                    margin-left: -15px;
                }

            }

            ul.data {
                flex-direction: column;
                gap: 30px;
                align-items: center;
            }
        }

        section.services {
            
                .text-wrapper {
                    gap: 15px;
                    margin-left: 25px;
                    h1 {
                        margin-left: -25px;
                    }
                }
        
        }

    }

    &>.row:nth-child(1) {
        height: 100%;
        will-change: transform;

        .description {
            @include center-absolute(6);
            min-width: 260px;

            h1 {
                white-space: nowrap;
            }

            p {
                margin: 13px 0 32px;
                max-width: 600px;
            }
        }

        &:nth-child(1) {

            @media all and (max-height: 1370px) and (max-width: 1334px),
            (max-width: 1024px) {
                >.container:nth-child(1) {

                    >.row:nth-child(1) {
                        justify-content: space-between;
                        gap: 35px;
                    }

                    .play {
                        position: static;
                        transform: none;
                    }

                }
            }

            @media all and (max-height: 840px),
            (max-width: 1024px) {
                >.container:nth-child(1) {

                    >.row:nth-child(1) {
                        justify-content: space-between;
                        gap: 35px;
                        margin-left: 25px;
                        margin-top: 47px;

                        +ul {
                            gap: 40px;
                        }
                    }

                    .play {
                        position: static;
                        transform: none;
                    }

                    .text-wrapper {
                        flex-direction: column;
                        align-items: baseline;
                        gap: 15px;
                        width: calc(100% - clamp(5.5rem, 5.0222rem + 2.3891vw, 7.25rem) - 35px);

                        h1 {
                            transform: translateX(-25px);
                        }

                        p {
                            max-width: 458px;
                        }

                        br:not(:nth-child(1)) {
                            display: none;
                        }
                    }

                }


            }
        }
    }
}