* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

/* @media (pointer: coarse) {
  html {
    touch-action: pan-x pan-y;
  }
} */

html {
  scroll-behavior: unset !important;
}

img:not(.icon) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: inherit;
}

li {
  list-style: none;
  cursor: pointer;
}

button,
input,
textarea {
  outline: none;
  border: none;
}

input {
  width: 100%;
  border-radius: 0 !important;
}

textarea {
  resize: none;
  width: 100%;
  overflow: hidden;
    border-radius: 0 !important;
}

section {
  backface-visibility: hidden !important;
  min-height: 0vw;
}

/* 




input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:focus,
select:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
    color: var(--black) !important;
    -webkit-text-fill-color: var(--black) !important;
    -webkit-box-shadow: inset 0 0 0 1000px var(--gray) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    background-color: var(--gray) !important;
}

button:disabled {
    opacity: 40%;
    cursor: unset;
    pointer-events: none;
} */
