@font-face {
    font-family: "font-main";
    src: url("/src/assets/fonts/Inter-Regular.woff2") format("woff2"),
        url("/src/assets/fonts/Inter-Regular.woff") format("woff"),
        url("/src/assets/fonts/Inter-Regular.ttf") format("truetype"),
        url("/src/assets/fonts/Inter-Regular.eot") format("embedded-opentype"),
        url("/src/assets/fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
    font-family: "font-main-bold";
    src: url("/src/assets/fonts/Inter-Bold.woff") format("woff2"),
        url("/src/assets/fonts/Inter-Bold.woff") format("woff"),
        url("/src/assets/fonts/Inter-Bold.ttf") format("truetype"),
        url("/src/assets/fonts/Inter-Bold.eot") format("embedded-opentype"),
        url("/src/assets/fonts/Inter-Bold.otf") format("opentype"),
}

.up-case {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
    font-family: "font-main-bold";
}

.font-bold {
    font-family: "font-main-bold";
}

.font-reg {
    font-family: "font-main";
}

.text-white {
    color: $white;
}

.text-gray {
    color: $text-gray;
}

.fs-14 {
    font-size: 14px;
    font-family: "font-main";
    line-height: 24px;
    letter-spacing: 0.5px;
    font-weight: 100;
}

p {
    font-family: "font-main";
    letter-spacing: 0.5px;
    font-weight: bolder;
    font-size: 14px;


    &.to-middle {
        font-size: clamp(0.6875rem, 0.642rem + 0.1942vw, 0.875rem);
        line-height: clamp(1.125rem, 1.034rem + 0.3883vw, 1.5rem);
        ;
    }

    &.to-small {
        line-height: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
        font-size: clamp(0.5625rem, 0.4867rem + 0.3236vw, 0.875rem);
    }
}

span {
    &.to-small {
        font-family: "font-main";
        letter-spacing: 0.5px;
        line-height: clamp(1rem, 0.8786rem + 0.5178vw, 1.5rem);
        font-size: clamp(0.5625rem, 0.4867rem + 0.3236vw, 0.875rem);
    }
}

h1 {
    font-size: clamp(1.75rem, 1.1357rem + 3.0717vw, 4rem);
    line-height: clamp(1.9625rem, 1.4062rem + 2.7816vw, 4rem);

}

h2 {
    font-size: 48px;
    line-height: 65.5px;
}

h6 {
    font-size: clamp(0.75rem, 0.6893rem + 0.2589vw, 1rem);
    ;
    line-height: clamp(1.1125rem, 1.0184rem + 0.4013vw, 1.5rem);
    letter-spacing: 0.4px;
}