@font-face {
    font-family: "font-main";
    src: url("/src/assets/fonts/Inter-Regular.woff2") format("woff2"),
        url("/src/assets/fonts/Inter-Regular.woff") format("woff"),
        url("/src/assets/fonts/Inter-Regular.ttf") format("truetype"),
        url("/src/assets/fonts/Inter-Regular.eot") format("embedded-opentype"),
        url("/src/assets/fonts/Inter-Regular.otf") format("opentype");
}

@font-face {
    font-family: "font-main-bold";
    src: url("/src/assets/fonts/Inter-Bold.woff") format("woff2"),
        url("/src/assets/fonts/Inter-Bold.woff") format("woff"),
        url("/src/assets/fonts/Inter-Bold.ttf") format("truetype"),
        url("/src/assets/fonts/Inter-Bold.eot") format("embedded-opentype"),
        url("/src/assets/fonts/Inter-Bold.otf") format("opentype"),
}

.up-case {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $white;
    font-family: "font-main-bold";
}

.font-bold {
    font-family: "font-main-bold";
}

.font-reg {
    font-family: "font-main";
}

.text-white {
    color: $white;
}

.text-gray {
    color: $text-gray;
}

.fs-14 {
    font-size: 14px;
    font-family: "font-main";
    line-height: 16.94px;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-weight: 100;
}

p {
    font-family: "font-main";
    letter-spacing: px;
    font-weight: 100;
    font-size: 14px;

    &.static {}

    &.to-middle {}

    &.to-small {
        line-height: clamp(1.1875rem, 1.1022rem + 0.4266vw, 1.5rem);
        font-size: clamp(0.78125rem, 0.7557rem + 0.128vw, 0.875rem);
    }
}

h1 {
    font-size: clamp(1.75rem, 1.1357rem + 3.0717vw, 4rem);
    line-height: clamp(1.9625rem, 1.4062rem + 2.7816vw, 4rem);
    font-family: "font-main-bold";
}