$container-padding: clamp(0.9375rem, -1.4516rem + 11.9454vw, 9.6875rem);
$black: #151517;
$overlay: #272727;
$line-bg: rgb(255, 255, 255, 45%);
$header-padding: clamp(1.0625rem, 0.4994rem + 2.8157vw, 3.125rem);
$header-padding-y: 10px;

$white: #FFFFFF;
$white-secondary: #E9E9E9;
$text-gray: #909090;
$brown: #3F3F3F;
$gray: #1D1D20;
$blue: #1C6BCF;


$transition-1: cubic-bezier(0.645, 0.045, 0.355, 1);


@mixin overlay($color, $opacity) {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color;
    opacity: $opacity;
    mix-blend-mode: hard-light;
    pointer-events: none;
}

@mixin center-absolute($index) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $index;
}

@mixin full-size-on-mobile($size: null, $width: 1024px, $height: 694px) {
    @media all and (max-width: $width), (max-height: $height) {
        width: 100% !important;
        margin-top: 0 !important;

        @if $size {
            @if ($size =='large') {
                height: clamp(30.25rem, 22.4495rem + 33.282vw, 43.75rem) !important;
            }

            @else {
                height: clamp(15.25rem, 6.005rem + 39.4453vw, 31.25rem) !important;
            }
        }
    }
}

@mixin responsive-width($width) {

    @media all and (min-height: 2200px) and (min-width: 1500px),
    (min-width: 3000px) {
        width: $width !important;
    }
}