#about-slider {

    padding: 0 !important;

    .embla__slide {



        aspect-ratio: 1 / 1 !important;
        overflow: hidden;

        &>span:nth-child(1) {
            position: relative;

            &::after {
                @include overlay($overlay, 50%);
            }
        }


    }
}