#home-scroll {
    .projects-list {

        .text-wrapper {
            margin: 0 0 80px 0;

            p {
                max-width: 753px;
                margin-bottom: 27px;
            }
        }

        ul {

            li {
                max-width: 344px;
                width: -webkit-fill-available;

                .placeholder-1 {
                    width: 100%;
                    height: 127px;
                }

                span.up-case {
                    line-height: 24px;
                    font-size: 12px;
                    display: block;
                    margin: 19px 0 11px;
                }

                h5 {
                    margin-bottom: 5px;
                }

            }
        }
    }
}