header {
    border-bottom: 0.5px solid $line-bg;
    z-index: 55;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .container {
        max-width: unset;
        padding: $header-padding-y $header-padding;

        .order-project {
            position: relative;
            opacity: 80%;
            mix-blend-mode: hard-light;
            cursor: pointer;


            &::after {
                content: "";
                opacity: 40%;
                background-color: #D9D9D9;
                pointer-events: none;
                width: 37px;
                height: 37px;
                border-radius: 50%;
                left: -10%;
                top: 50%;
                transform: translateY(-50%);
                position: absolute;
                z-index: -1;

            }

            @media all and (max-width: 480px) {
                & {
                    position: absolute;
                    bottom: -35px;
                    width: max-content;
                    right: $container-padding;
                }
            }
        }

        a:not(.logo) {

            position: relative;

            &::after {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $white;
                content: "";
                position: absolute;
                opacity: 0;
                pointer-events: none;
                left: -12px;
                top: 50%;
                transform: translateY(-50%);
                transition: $transition-1 0.5s opacity;
            }

            &:hover,
            &.active {

                &::after {
                    opacity: 1;
                }
            }
        }

        .menu-bars {

            height: 19px;
            cursor: pointer;
            width: 39px;

            div {
                height: 2px;
                transition: $transition-1 width 0.5s;
                background-color: $white;
            }

            div {
                &:nth-child(1) {
                    width: 19px;
                }

                &:nth-child(2) {
                    width: 39px;
                    height: 1px;
                }

                &:nth-child(3) {
                    width: 13px;
                }
            }

            &:hover div {
                &:nth-child(1) {
                    width: 39px;
                }

                &:nth-child(2) {
                    width: 13px;
                }

                &:nth-child(3) {
                    width: 19px;
                }
            }
        }

        nav {
            ul {
                gap: clamp(1.875rem, -0.1355rem + 3.4965vw, 3.125rem);
                ;
            }
        }

        &>.row>div {
            &:nth-child(1) {
                gap: clamp(2.5rem, -5.0393rem + 13.1119vw, 7.1875rem);
            }

            &:nth-last-of-type(1) {
                gap: clamp(1.25rem, -2.771rem + 6.993vw, 3.75rem);
            }
        }



    }

}