header {
    border-bottom: 0.5px solid $line-bg;
    z-index: 55;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .container {
        max-width: unset;
        padding: $header-padding-y $header-padding;

        a {

            position: relative;

            &::after {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: $white;
                content: "";
                position: absolute;
                opacity: 0;
                pointer-events: none;
                left: -12px;
                top: 50%;
                transform: translateY(-50%);
            }

            &:hover,
            &.active {
         
                &::after {
                    opacity: 1;
                }
            }
        }

    }

}