header {
    a:not(.logo) {

        @include hover-with-dot();
        color: $gray;

        &::after {
            background-color: $blue;
        }

        &:hover,
        &.active {
            color: $blue;
        }
    }

    .menu-bars {

        height: 19px;
        cursor: pointer;
        width: 39px;

        div {
            height: 2px;
            transition: $transition-1 width 0.5s, $transition-1 background-color 0.5s;
            background-color: $gray;
        }

        div {
            &:nth-child(1) {
                width: 19px;
            }

            &:nth-child(2) {
                width: 39px;
                height: 1px;
            }

            &:nth-child(3) {
                width: 13px;
            }
        }

        &:hover div {
            &:nth-child(1) {
                width: 39px;
            }

            &:nth-child(2) {
                width: 13px;
            }

            &:nth-child(3) {
                width: 19px;
            }
        }
    }

    nav {
        ul {
            gap: clamp(1.875rem, -0.1355rem + 3.4965vw, 3.125rem);
            ;
        }
    }
}