#transition-root {

    .transition {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        min-height: 100svh;
        pointer-events: none;

        path {
            will-change: path;
        }
    }

    .logo {
        pointer-events: none;
        position: fixed;
        left: $header-padding;
        top: 10px;
        z-index: 5;
    }


    .menu-overlay {
        position: fixed;
        pointer-events: none;
        overflow: hidden;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 777;
        min-height: 100svh;
        height: 100%;
        width: 100%;
        padding: calc($header-padding-y + 18px + 49px) $header-padding 31px;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;

        .close-overlay {
            top: 13px;
            right: $header-padding;
            border: 2px solid line-bg(0.2);

            >div {
                >div {
                    background-color: $white;
                }
            }
        }

        &::-webkit-scrollbar {
            width: 0px;
        }


        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb,
        &::-webkit-scrollbar-thumb:hover {
            background: transparent;
        }


        @media all and (max-width: 1200px),
        (max-height: 800px) {
            align-items: baseline;
        }


        .row:has(ul):not(.schemes) {
            width: 100%;
            pointer-events: none;

            @media all and (max-width: 1200px) {
                flex-wrap: wrap;

            }


            a:not(:has(svg)) {
                @include hover-with-dot()
            }
        }

        .schemes {
            display: grid;
            grid-template-columns: 240px 240px;
            grid-template-rows: 220px 220px;
            gap: 50px;

            li {
                cursor: initial !important;

                img {
                    object-fit: contain;
                    margin-bottom: 10px;
                }


            }
        }

        p:not(.mobile-footer p) {
            max-width: 531px;
            height: 11%;
            margin-top: 15%;
        }

        .hot-links a {
            &::after {display: none;}
        }
    }


}

body.overlay-opened {
    .menu-overlay {
        overflow-y: scroll !important;
        pointer-events: all !important;
    }

    #app {
        pointer-events: none;
    }

    overflow: hidden;
}

@import './media.scss'