#goals {

  .container {
    &>.row:nth-child(1) {
      margin-bottom: 63px;
    }

    &>div:nth-child(2)>div:nth-child(2) {
      max-width: 433px;
      width: 100%;
    }

    p:not(ul p) {
      max-width: 587px;
      margin-top: 30px;
    }
  }
}