.form-wrapper {
    >div:nth-child(2) {
        width: min(100%, 740px);
    }

    form {
        margin-top: 28px;
    }

    h3 {
        width: 390px;
    }

    @media all and (max-width:450px) {
        .gap-45 {
            flex-direction: column;
            gap: 0;
        }
    }

}