.slide-in,
.slide-out {
    background-color: $blue;
    position: fixed;
    will-change: transform;
    top: 0;
    left: 0;
    z-index: 795;
    pointer-events: all;
    width: 100%;
    height: 100%;
    min-height: 100lvh;

    &.delayed {
        background-color: rgb(223, 220, 216);
        z-index: 794;
    }
}
 