.page-transition {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 795;
    width: 100%;
    height: 100%;
    min-height: 100lvh;

    .row {
 
        position: absolute;
        width: 100%; height: 100%;
        top: 0;
        left: 0;

        >div {
 
            will-change: transform;
            background-color: $blue;
            width: calc(100%/4);
        }
    }
}