.close-overlay {
    position: fixed;
    pointer-events: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;

    z-index: 5;
    cursor: pointer;

    &:hover {
        .close-overlay-wrapper>div {

            &:nth-child(1) {
                transform: rotate(45deg) translate(63%, -50%);
            }

            &:nth-child(2) {

                transform: rotate(135deg) translate(63%, -50%);
            }
        }
    }

    .close-overlay-wrapper {
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 18px;
        height: 18px;

        border-radius: 50%;

        >div {

            transition: $transition-1 0.6s transform;
            height: 2px;
            width: 19px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform-origin: 0 0;

            &:nth-child(1) {
                transition-delay: 0.4s !important;
                transform: rotate(45deg) translate(-50%, -50%);

                &::after {
                    transform: translateX(-22px);
                }
            }

            &:nth-child(2) {
                transform: rotate(135deg) translate(-50%, -50%);

                &::after {
                    transform: translateX(-22px)
                }
            }

            &::after {

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: "";
                background-color: inherit;
            }

        }
    }
}

.modal .close-overlay {
    border: 2px solid $white-secondary;
    top: 15px;
    right: 15px;
    z-index: 777;
    pointer-events: all;

    >div {
        >div {
            background-color: $dark;
        }
    }

}