.mobile-socials {
    a {
        width: 29px;
        height: 29px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        border: 1px solid $gray-secondary;

        path {
            fill: $gray-secondary;
        }
    }
}