@use './media.scss';
#home {
    height: 100vh;
    min-height: 700px;
    width: 100%;
    background: url('/src/assets/bg.avif') center no-repeat;
    background-size: cover;
    position: relative;


    &::after {
        @include overlay($black, 60%);
    }

    .container {
        height: 100%;
        position: relative;
        z-index: 56;
        max-width: unset;
    }

    .scroll-down {
        pointer-events: all;
        cursor: pointer;
        border-radius: 50%;
        aspect-ratio: 1/1;
        width: clamp(5.5rem, 5.0222rem + 2.3891vw, 7.25rem);
        border: 1px solid rgb(255, 2555, 255, 50%);
    }

    .center-flex {
        position: relative;
        z-index: 565;
        pointer-events: none;
    }

    .text-wrapper {
        position: absolute;
        bottom: 17%;
        left: $container-padding;
        right: $container-padding;
        z-index: 5;

        h1 {
            white-space: nowrap;
        }

    }
}

#home .text-wrapper p,
#home-scroll .text-wrapper>*:nth-child(2) {

    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-color: $white;
        width: 1px;
        height: 100%;
        left: -25px;
        top: 0;
    }
}