#join-form {
    padding-top: 0 !important;
    .join-form {
        >div:nth-child(2) {
            width: min(100%, 740px);
        }

        form {
            margin-top: 28px;
        }

        h3 {
            width: 390px;
        }
    }
}

@import url('./media.scss');