@import './styles/typography.scss';
@import './styles/reset.css';
@import "./styles/helpers.css";
@import "./components/ui/buttons/buttons.scss";

@media all and (max-width: 320px) {
    body {
        width: 320px;
    }
}

.pin-spacer {
    will-change: width, height, padding;
}

body,
html {
    overscroll-behavior: none;
}

::selection {
    background-color: $blue;
}

body,
html,
#app,
#root {
    /* width: 100%; */
    height: 100%;
}

main {
    min-height: 100vh;
    // flex-grow: 1;
}

#scroll-wrapper {
    inset: 0;
    width: 100%;
    perspective: 1px;
}

.scroll-content {
    min-height: 100% !important;
    /* height: inherit; */
    // display: flex !important;
    // flex-direction: column;
    will-change: transform;
    height: inherit;
}

.scrollbar-thumb-y {
    background-color: $white !important;
    cursor: grab;
}

.scrollbar-track-y {
    background-color: transparent !important;
    width: 11px !important;
}



div[id*="page"],
section {
    overflow: hidden;
}

.scrollbar-track-x {
    display: none !important;
}

@media all and (max-width: 1023px) {

    html body .scrollbar-track-y,
    html body .scrollbar-thumb-y {
        display: none !important;
    }
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1492px;
    padding: 0 $container-padding;
}

body {
    background-color: $black;
    position: relative;

    &::after {
        content: "";
        top: 0;
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        background: url("/src/assets/noise.gif") repeat;
        z-index: 888;
        opacity: 15%;
        pointer-events: none;
        backdrop-filter: brightness(1.1) contrast(1.1);
        // mix-blend-mode: soft-light;
        background-size: 150px;
    }
}

.lazy-load-image-background.blur {
    filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
    filter: blur(0);
    transition: filter 0.3s;
}

.lazy-load-image-background.blur>img {
    opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded>img {
    opacity: 1;
    transition: opacity 0.3s;
}

.lazy-load-image-background.opacity {
    opacity: 0;
}

.lazy-load-image-background.opacity.lazy-load-image-loaded {
    opacity: 1;
    transition: opacity 0.3s;
}

.placeholder-1 {
    background-color: $blue;
}

.placeholder-2 {
    background-color: $black;
}

.placeholder-3 {
    background-color: $gray;
}

.socials {
    position: absolute;
    height: 100%;
    left: 50px;
    z-index: 105;

    li {
        cursor: pointer;

        &:hover path {
            fill: $white
        }
    }

}